<h2>Relação de Disciplinas</h2>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>link</th>
      <th class="text-center">
        <a
          [routerLink]="['/disciplinas/novo']"
          title="Novo"
          alt="Novo"
          class="btn btn-xs btn-success"
        >
          <i class="fa fa-plus" aria-hidden="true"></i>Novo
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let disciplina of disciplinas">
      <td>{{ disciplina.nome }}</td>
      <td>
        <a [href]="disciplina.link" target="_blank">{{ disciplina.link }}</a>
      </td>
      <td class="text-center" style="width: 300px">
        <a
          href="#"
          title="Editar"
          alt="Editar"
          class="btn btn-xs btn-info"
          [routerLink]="['/disciplinas/novo', disciplina.id]"
        >
          <i class="fa fa-pencil" aria-hidden="true"></i>Editar</a
        >
        <a
          href="#"
          title="Excluir"
          alt="Excluir"
          class="btn btn-xs btn-danger"
          (click)="remover($event, disciplina)"
        >
          <i class="fa fa-times" aria-hidden="true"></i>Excluir
        </a>
      </td>
    </tr>
  </tbody>
</table>
<p *ngIf="disciplinas.length === 0">Nenhum registro encontrado!</p>
